/*
    @todo Rather than directly using `element` names, utilise
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

h1, h2, h3, h4, h5, b, p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

p.notice {
    color: #aaa;
}
button {
    background-color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    border: none;
    border-radius: 7.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

li {
    display: block;
    padding-bottom: 10px;
    text-align: center;
}